*
{
    margin: 0;
    text-decoration: none;
    padding: 0;
}
body
{
    background-color: rgba(250, 235, 215, 0.66); 
    display: flex;
    height: 100vh;
    width: 100vw;
}

aside
{
    background: linear-gradient(70deg,#D9534F,#2E8B57);
    height: 100%;
    width: 250px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 2px 2px black;
    display: grid;
    justify-content: space-around;
}
.nav-bar
{
    list-style: none;
    left: 0;

    
}

.nav-bar li
{
    margin-top: 30px;
}
.nav-bar li a 
{
    color: #FFF8F2;
    font-size: larger;
    font-family: sans-serif;
    
}

.nav-bar li :hover
{
    color: #2B2B2B;
    border-bottom: solid 1px #2B2B2B;
    text-shadow: 1px 2px 2px #2B2B2B;
}
.mister
{
    margin-top: 40px;
    color: #2B2B2B;
}

.panel
{
    display: none;
    margin-top: 40px;
}

.panel.active
{
    display: block;
}

#home
{
    width: calc(100vw - 400px);
    height: 100vh;
}
#home .home-content
{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.home-content .stats
{
    background-color: #FFF8F2;
    width: 60%;
    height: 85%;
    border-radius: 20px;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.35);
}