*
{
    margin: 0;
    padding: 0;
}
body
{
    background:  linear-gradient(90deg,#D9534F,#2E8B57)
}

header
{
    padding-top: 75px;
    padding-bottom: 50px;
}
header h1{
    text-align: center;
    font-size: 300%;
    font-style: italic;
    color:#2B2B2B;
    width: 100%;
}
main
{
    position: relative;
}

.container
{
    display: flex;
    background-color:  #FFF8F2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    position: absolute;
    left: 25%;
    justify-content: center;
    text-align: center;
}
#logo
{
    width: 150px;
}
.form-box
{
    width: 50%;
    position: absolute;
    left: 0;
    height: 100%;
    align-items: center;
    justify-content: center ;
    display: flex;
    flex-direction: column;
    
}
#logo
{
    position: absolute;
    top: 10%;
}
.form-box form
{
    position:absolute;
    top: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-box form input
{
    background-color: #eee;
    border: solid 1px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}
#submit:hover
{
    background-color: #2E8B57;
    transition: 0.1s ease-in;
    cursor: pointer;

}

.img-box
{
    width: 50%;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.img-box #chef
{
    width: 100%;
    height: 100%;
}
