/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:  sans-serif;
}

body {
    background-color: rgba(250, 235, 215, 0.66);
}

/* NAVBAR */
.container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(20deg,#D9534F,#2E8B57);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.container a {
    color: #FFF8F2;
    font-style: italic;
}

.container ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav_bar {
    color: #FFF8F2;
    cursor: pointer;
}

.nav_bar:hover {
    color: #2B2B2B;
}

.container button {
    padding: 8px 14px;
    border-radius: 5px;
    border: none;
    background-color: #FFF8F2;
}

/* HERO */
.pub {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}

.pub video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    color: #2E8B57;
    font-size: xx-large;
    text-align: center;
    text-shadow: 0 10px 20px rgba(0,0,0,0.6);
    font-style: italic;
}

/* GALLERY SECTION */
.describing {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 200px;
}

.gallery {
    background-color: #FFF8F2;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 10px 15px #2B2B2B;
    display: flex;
    flex-direction: column;
}

/* IMAGE CONTAINER */
.img-box {
    width: 100%;
    aspect-ratio: 4 / 3;   
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TEXT */
.gallery p {
    padding: 20px;
    line-height: 1.6;
    text-align: center;
    font-size: 0.95rem;
    background-color: #FFF8F2;
    border-radius: 20px;
    overflow: hidden;
    
}
