    *{
        margin: 0px;
        text-decoration: none;
        padding: 0px;
        
    }



    .container{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background: linear-gradient(20deg,#D9534F,#2E8B57);
        align-items: center;
        overflow: hidden;
        position: fixed;
        width: 100%;
        top: 0;
    }

    .container a {
        font-style: italic;
        padding-left: 5%;
        color: #FFF8F2;
        font-size: large;
    }
    .container a :hover{
        color: #2B2B2B;
        text-shadow: 2px 1px 1px #2B2B2B;
        transition: 150ms;
    }
    .container ul{
        display: flex;
        list-style-type: none;
    }
    .nav_bar{
        margin-top: 10px;
        margin-left: 50px ;
        color: #FFF8F2;
        font-size: medium;
        text-align: center;
    }
    .nav_bar:hover{
        color: #2B2B2B;
        text-shadow: 1px 0px 0px #2B2B2B;
        transition: 150ms;
    }

    .container button
    {
        margin-left: 50px;
        margin-right: 30px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #FFF8F2;
        color: #2B2B2B;
    }


    body
    {
        background-color: rgba(250, 235, 215, 0.66);
        
    }

    .pub
    {
        background: url(../image/Gusto&pane.mp4);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 700px;
    }

    #logo
    {
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: visible;
    }

    
    #logo img 
    {
        max-width: 200px;
    }

