* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:  sans-serif;
}

body {
    background-color: rgba(250, 235, 215, 0.66);
}

/* NAVBAR */
.container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(20deg,#D9534F,#2E8B57);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.container a {
    color: #FFF8F2;
    font-style: italic;
}

.container ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav_bar {
    color: #FFF8F2;
    cursor: pointer;
}

.nav_bar:hover {
    color: #2B2B2B;
}

.container button {
    padding: 8px 14px;
    border-radius: 5px;
    border: none;
    background-color: #FFF8F2;
}
