*{
    margin: 0px;
    text-decoration: none;
    padding: 0px;
    box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(20deg,#D9534F,#2E8B57);
    align-items: center;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.container a {
    font-style: italic;
    padding-left: 5%;
    color: #FFF8F2;
    font-size: large;
}
.container a :hover{
    color: #2B2B2B;
    text-shadow: 2px 1px 1px #2B2B2B;
    transition: 150ms;
}
.container ul{
    display: flex;
    list-style-type: none;
}
.nav_bar{
    margin-top: 10px;
    margin-left: 50px ;
    color: #FFF8F2;
    font-size: medium;
    text-align: center;
}
.nav_bar:hover{
    color: #2B2B2B;
    text-shadow: 1px 0px 0px #2B2B2B;
    transition: 150ms;
}

.container button
{
    margin-left: 50px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FFF8F2;
    color: #2B2B2B;
}


body
{
    background-color: rgba(250, 235, 215, 0.66);
    
}
main
{
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   font-family: "popins",sans-serif;

}
.flex_container
{
    margin-top: 5%;
    background-color: #FFF8F2;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    overflow: hidden;
    position: absolute;
}
.flex_container form
{
    background-color: #FFF8F2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
.flex_container input
{
    background-color: #eee;
    border: solid 1px;
    width: 100%;
    margin: 8px;
    padding: 10px 15px;
    font-size: 13px;
    outline: none;
    border-radius: 5px;
    font-family: inherit;
    text-align: center;
}
.flex_container button{
    background-color: #2E8B57;
    color: whitesmoke;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.form-container
{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign_in
{
    left: 0;
    width: 50%;
    z-index: 2;
}
.flex_container.active .sign_in
{
    transform: translateX(100%);
}

.sign_up
{
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}
.flex_container.active .sign_up
{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6;
}

@keyframes move {
    0% ,
    49.99%{
        opacity: 0;
        z-index: 2;
    }
    50%,
    100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container
{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 100;
}

.flex_container.active .toggle-container
{
    transform: translateX(-100%);
}

.toggle 
{
    background: url(./image/pizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    left: -101%;
    width: 200%;
    color: #FFF8F2;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    position: relative;
}

.toggle::before
{
    position: absolute;
    content: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}
.flex_container.active .toggle
{
    transform: translateX(50%);
}

.toggle-panel
{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.toggle-left
{
    transform: translateX(-200%);
}

.flex_container.active .toggle-left
{
    transform: translateX(0);
}
.toggle-right
{
    right: 0;
    transform: translateX(0);
    color: #2B2B2B;
}
.flex_container.active .toggle-right
{
    transform: translateX(0);
}